/* ----------------------------------------------------------------------------------------------------------------------- */
/* Listbox CSS Customization
/* ----------------------------------------------------------------------------------------------------------------------- */

/* Header Column Background Color */
.mylist .z-listbox-header tr.z-listhead,div.z-listbox-header
		tr.z-auxhead {
	background-image: none;
	background-color: #B261C7;
}

.mylist div.z-listbox-header
		tr.z-auxhead {
	background-image: none;
	background-color: transparent;
}

/* Header Column Background Color when click on the header*/
.mylist .z-listbox-header th.z-listheader-sort-over {
	background-image: none;
	background-color: #B261C7;
}

/* odd Rows Selected Color */
.mylist .z-listitem.z-listbox-odd.z-listitem-seld {
	background-image: none;
	background-color: #E594FA;
}

.mylist .z-listitem-seld {
	background-image: none;
	background-color: #E594FA;
}

/* When moving the mouse on the list */
.mylist .z-listitem.z-listitem-over {
	background-image: none;
	background-color: #E594FA;
}

.fimgtopbkg {
	background-image: url("../images/purple/top_bkg.gif");
}

.fimgsidetop {
	background-image: url("../images/purple/side_top.gif");
}

.fimgsidemid {
	background-image: url("../images/purple/side_mid.gif");
}

.fimgsidebgk {
	background-image: url("../images/purple/side_bkg.gif");
}

.fimgbottom {
	background-image: url("../images/purple/low_bkg.gif");
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Label CSS Customization
/* ----------------------------------------------------------------------------------------------------------------------- */
.TitleWBold.z-label {
	color: #FFFFFF;
}

.sectionTitleLabel.z-label {
	color: #0C6BA8;
}

.flabel.z-label {
	color: #800000;
}

.sectionTitleLabel.z-label {
	color: #0C6BA8;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Div(s)
/* ----------------------------------------------------------------------------------------------------------------------- */
.sectionTitleBar {
	background: none repeat scroll 0 0 #6F8992;
}

.sectionSeperator {
	border-bottom: 4px solid #B261C7;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
/* Button
/* ----------------------------------------------------------------------------------------------------------------------- */

/* color styles
  ---------------------------------------------- */

/* purple */
.theme {
	background: #BC0ACC;
	border: solid 1px transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D143DE',
		endColorstr='#8F4196' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#D143DE),
		to(#8F4196) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #D143DE, #8F4196);
	/* for firefox 3.6+ */
}

.theme:hover {
	background: #8A0696;
}

.theme:active {
	background: #8A0696;
}

/* Start: MessageBox Start here
---------------------------------------------- */
.z-messagebox-btn {
	background: #BC0ACC;
	border: solid 1px transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D143DE',
		endColorstr='#8F4196' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#D143DE),
		to(#8F4196) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #D143DE, #8F4196);
	/* for firefox 3.6+ */
}

.z-messagebox-btn:hover {
	background: #8A0696;
}

.z-messagebox-window .z-window-highlighted-hm,.z-window-highlighted-br,.z-window-highlighted-cr,.z-window-highlighted-cl,.z-window-highlighted-hr,.z-window-highlighted-tr,.z-window-highlighted-hl
	{
	background-image: none;
	background-color: #B261C7;
}

/* End : MessageBox End Here
---------------------------------------------- */